<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="p3020" >

  <xacro:arg name="color"   default="white"/>
  <xacro:arg name="gripper" default="none"/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="use_mujoco" default="false"/>
  <xacro:arg name="host" default=""/>
  <xacro:arg name="port" default=""/>
  <xacro:arg name="rt_host" default=""/>
  <xacro:arg name="mode" default=""/>
  <xacro:arg name="model" default=""/>
  <xacro:arg name="update_rate" default=""/>
  <xacro:arg name="simple"        default="false"/>

  <xacro:property name="cr" value="$(arg color)"/>
  <xacro:property name="gr" value="$(arg gripper)"/>
  <xacro:property name="gz" value="$(arg use_gazebo)"/>
  <xacro:property name="mj" value="$(arg use_mujoco)"/>
  <xacro:property name="host" value="$(arg host)"/>
  <xacro:property name="rt_host" value="$(arg rt_host)"/>
  <xacro:property name="port" value="$(arg port)"/>
  <xacro:property name="mode" value="$(arg mode)"/>
  <xacro:property name="model" value="$(arg model)"/>
  <xacro:property name="update_rate" value="$(arg update_rate)"/>

  <xacro:if value="${cr == 'white'}">
     <xacro:include filename="$(find dsr_description2)/xacro/macro.p3020.white.xacro" />
  </xacro:if>
  <xacro:if value="${cr == 'blue'}">
     <xacro:include filename="$(find dsr_description2)/xacro/macro.p3020.blue.xacro" />
  </xacro:if>
  <xacro:p3020 namespace="$(arg namespace)" simple="$(arg simple)"/>

  <xacro:unless value="$(arg simple)">
  <!-- World fixed joint-->
  <link name="world"/>
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:if value="${gz}">
    <xacro:include filename="$(find dsr_description2)/ros2_control/p3020.gz_ros2_control.xacro" />
    <xacro:p3020_gz_ros2_control namespace="$(arg namespace)"/>
  </xacro:if>
  <xacro:unless value="${gz}">
    <!-- for mujoco -->
    <xacro:if value="${mj}">
      <xacro:include filename="$(find dsr_description2)/ros2_control/p3020.mj_ros2_control.xacro" />
      <xacro:p3020_mj_ros2_control namespace="$(arg namespace)" gripper="$(arg gripper)"/>
    </xacro:if>
    <xacro:unless value="${mj}">
      <xacro:include filename="$(find dsr_description2)/ros2_control/p3020.ros2_control.xacro" />
      <xacro:p3020_ros2_control 
        name="p3020"
        host="${host}"
        rt_host="${rt_host}"
        port="${port}"
        mode="${mode}"
        model="${model}"
        update_rate="${update_rate}"
      />
    </xacro:unless>
  </xacro:unless>

  </xacro:unless>
</robot>
